@charset "utf-8";



body, button, input, select, table, textarea {
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
}

html { font-size : 62.5% }

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, ins, small, strong, sub, sup, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, footer, header, nav, section, summary, time, mark { margin: 0; padding: 0; box-sizing: border-box; }

ul, ol, li { list-style: none; }

a, a:link, a:visited, a:hover, a:focus { text-decoration: none; color: inherit; }

img, fieldset, a { border: none;}

img, video { border: 0; vertical-align: top; }

input, select, textarea, button, form, img, label { vertical-align: middle; }

input, textarea {
    padding: 0;
    outline: 0;
    border: 0;
    resize: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0);
}

input[type=text], input[type=number], input[type=password], input[type=tel], input[type=email] {
    box-sizing: border-box; 
    display: inline-block; 
    line-height: normal;
}

textarea { box-sizing: border-box; padding: .08rem; border: .1rem solid #ccc; font-size: 1.6rem; }

.container { overflow: hidden; position: relative; }

.wrap { position:relative; padding-top:10rem; overflow-anchor:none }

.blind, .u_skip {
    overflow: hidden!important;
    position: absolute!important;
    clip: rect(0,0,0,0)!important;
    width: .1rem!important;
    height: .1rem!important;
    margin: -1rem!important;
}

.title { font-size: 1.5rem; }

input, textarea {
    padding: 0;
    outline: 0;
    border: 0;
    resize: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0);
}

.full {
    width: 100%;
    font-size: 1.6rem;
    letter-spacing: -.1rem;
    font-weight: 700;
    height: 52px;
    line-height: 50px;
    border-radius: 1.2rem;
}

.btn {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
}

.btn {
    margin-top: 1.2rem;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.date { font-size: 1.4rem; }

.tab_item { display: table-cell; text-align: center; }

.tab_link { position: relative; display: block; padding-top: 1.8rem; height: 9.6rem;
}







/* 로그인 */

.content{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}


.login_area{
    margin: 0 auto;
    padding: 60px 0 160px;
    width: 400px;
}


.login_title { 
    padding-bottom: 5px; 
    text-align: center; 
    }

.input_box { position: relative; padding: 1rem 0 1.4rem; }

.input_title { font-size: 1.3rem; letter-spacing: -.007rem; line-height: 1.8rem; }

.has_error .input_title { color: #f15746; }

.input_item { position: relative; }

.has_button .input_txt { padding-right: 3rem; height: 3.8rem; }

.input_txt {
    padding: .8rem 0;
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: -.015rem;
    line-height: 2.2rem;
    border-bottom: .1rem solid #ebebeb;
}

.input_error { display: none;}

.login_btn_box { padding-top: 4.5rem;}

.login_btn_box .btn+.btn { margin-top: .8rem;}

.solid { background-color: #222; color: #fff;}

.solid.disabled, .solid:disabled {
    background-color: #ebebeb;
    color: #fff;
    cursor: default;
}



.look_box {
    margin-top: 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.look_link {
    margin: auto;
    padding: 0 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.3rem;
    letter-spacing: -.007rem;
}

.look_list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.look_list+.look_list:before {
    content: "";
    margin-top: .3rem;
    display: inline-block;
    width: .1rem;
    height: 1.3rem;
    background-color: #d3d3d3;
}






    


    
   


