<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
		
	<entry key="loginMember">
	 	SELECT *
	 	FROM MEMBER
	 	WHERE USER_ID = ?
	 		AND USER_PWD = ?
	 		AND STATUS = 'Y'
	</entry>
	
	
	<entry key="insertMember">
		INSERT INTO MEMBER(USER_ID, USER_NAME, USER_PWD, PHONE, BIRTH, AGREE_EMAIL, SNS_ID) 
		VALUES(?,?,?,?,?,?,?)
	</entry>
	
	
	<entry key="searchEmail">
		SELECT USER_ID
		FROM MEMBER 
		WHERE PHONE = ?
	</entry>
	
	<entry key="searchPwd">
		SELECT USER_PWD
		FROM MEMBER
		WHERE PHONE = ?
			AND USER_ID = ?	
	</entry>
	
	<entry key="selectMemberList">
		SELECT ENROLL_DATE,
            USER_NAME,
            M.USER_ID,
            M.PHONE,
            NVL(A.ADDRESS,'미입력') AS ADDRESS,
            AGREE_EMAIL
      FROM MEMBER M
      LEFT JOIN ADDRESS A ON(M.USER_ID = A.USER_ID)
      WHERE STATUS = 'Y'  AND NVL(DEFAULT_ADDRESS, 'X') IN('Y','X')
      ORDER BY ENROLL_DATE DESC
            

            
		 
	
	</entry>
	
</properties>