<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectNoticeList">
		SELECT ALERT_NO,
			   ALERT_CATEGORY,
			   ALERT_TITLE,
			   CREATE_DATE,
			   QLEVEL
		FROM NOTICE
		WHERE STATUS = 'Y' AND QLEVEL = 0
		ORDER BY ALERT_NO DESC

	</entry>



	<entry key="selectNotice">
		SELECT ALERT_NO,
			   ALERT_CATEGORY,
			   ALERT_TITLE,
			   ALERT_CONTENT,
			   CREATE_DATE
		FROM NOTICE 
		WHERE ALERT_NO = ? AND QLEVEL= 0
		AND STATUS = 'Y'

	</entry>
	
	<entry key="insertNotice">
	
		INSERT INTO NOTICE
		(
			ALERT_NO,
			ALERT_CATEGORY,
			ALERT_TITLE,
			ALERT_CONTENT,
			QLEVEL
		
			
		)VALUES
		(
			SEQ_NOTICE_NO.NEXTVAL,
			?,
			?,
			?,
			0
		
			
		)
	
	
	
	</entry>
	
	
	<entry key="updateNotice">
		UPDATE NOTICE
		SET ALERT_CATEGORY = ?,
			ALERT_TITLE = ?,
			ALERT_CONTENT = ?
		WHERE ALERT_NO = ? AND STATUS = 'Y' AND QLEVEL = 0
		
	
	</entry>
	
	
	<entry key="deleteNotice">
		UPDATE NOTICE
		SET STATUS = 'N'
		WHERE ALERT_NO = ? AND QLEVEL = 0
		
		
		
	
	</entry>
	
	
	<entry key="selectFaqNoticeList">
		SELECT ALERT_NO,
			   ALERT_CATEGORY,
			   ALERT_TITLE,
			   ALERT_CONTENT,
			   QLEVEL
		FROM NOTICE
		WHERE STATUS = 'Y' AND QLEVEL = '1'
		ORDER BY ALERT_NO DESC

	</entry>
	
	<entry key="insertFaq">
	
		INSERT INTO NOTICE
		(
			ALERT_NO,
			ALERT_CATEGORY,
			ALERT_TITLE,
			ALERT_CONTENT,
			QLEVEL
		
			
		)VALUES
		(
			SEQ_NOTICE_NO.NEXTVAL,
			?,
			?,
			?,
			1
		
			
		)
	</entry>
	<entry key="selectfaqNotice">
		SELECT ALERT_NO,
			   ALERT_CATEGORY,
			   ALERT_TITLE,
			   ALERT_CONTENT,
			   CREATE_DATE
		FROM NOTICE 
		WHERE ALERT_NO = ? AND QLEVEL= 1
		AND STATUS = 'Y'

	</entry>
	
	<entry key="updatefaqNotice">
		UPDATE NOTICE
		SET ALERT_CATEGORY = ?,
			ALERT_TITLE = ?,
			ALERT_CONTENT = ?
		WHERE ALERT_NO = ? AND STATUS = 'Y' AND QLEVEL = 1
		
	
	</entry>
	
		
	<entry key="deletefaqNotice">
		UPDATE NOTICE
		SET STATUS = 'N'
		WHERE ALERT_NO = ? AND QLEVEL = 1
		
	</entry>
	
	
	<entry key="selectSuggestList">
		SELECT STOCK_NO,
		 	   PRODUCT_NAME,
			   USER_ID,
			   SUGGEST_DATE,
			   STATUS
		FROM STOCK
		ORDER BY STOCK_NO DESC
	
	
	</entry>
	
	<entry key= "selectSuggest">
		SELECT STOCK_NO,
			   USER_ID,
			   PRODUCT_NAME,
			   PRICE,
			   STOCK,
			   P_SIZE,
			   STATUS,
			   SUGGEST_DATE
		FROM STOCK
		WHERE STOCK_NO = ?
	</entry>
	
	<entry key= "updateSuggest">
		UPDATE STOCK
		SET STATUS = 1
		WHERE STOCK_NO = ? 
	
	</entry>
	
	<entry key ="selectBlackList">
		
	SELECT  BLACK_NO,
        USER_ID,
        BLACK_DATE,
        STATUS
		FROM BLACKLIST  
		WHERE STATUS= 'Y'
		ORDER BY BLACK_NO DESC
	</entry>
	
</properties>