<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="insertThumbnailPost">
		INSERT INTO SNS_POST(POST_NO , CONTENT, USER_ID)
		VALUES (SEQ_POST_NO.NEXTVAL , ?, ? )
	</entry>
	
	<entry key="insertPostImgList">
		INSERT INTO POST_IMG(IMG_NO, POST_NO, ORIGIN_NAME, IMG_NAME, IMG_PATH, IMG_LEVEL)
		VALUES (SEQ_POST_INO.NEXTVAL, SEQ_POST_NO.CURRVAL , ?, ? , ?, ?)
	</entry>
	
	<entry key="deletePost">
		UPDATE SNS_POST
		SET POST_STATUS = 'N'
		WHERE POST_NO = ?
	</entry>
	
	
	<entry key="selectPostList">
		SELECT
			SP.CONTENT,
			PI.IMG_PATH,
			PI.IMG_NAME,
			PI.IMG_LEVEL,
			SP.POST_NO,
			PI.IMG_PATH || PI.IMG_NAME AS TITLEIMG,
			SP.USER_ID,
			SP.UPROADTIME,
			M.USER_IMAGE,
            COUNT(SPL.POST_NO) AS PLIKE
		FROM SNS_POST SP, POST_IMG PI, MEMBER M, SNS_POST_LIKE SPL
		WHERE SP.POST_NO = PI.POST_NO
		  AND SP.USER_ID = M.USER_ID
		  AND SP.POST_STATUS = 'Y'
		  AND PI.IMG_LEVEL = 1
          AND SPL.POST_NO(+) = SP.POST_NO
        GROUP BY 			
            SP.CONTENT,
			PI.IMG_PATH,
			PI.IMG_NAME,
			PI.IMG_LEVEL,
			SP.POST_NO,
			PI.IMG_PATH || PI.IMG_NAME,
			SP.USER_ID,
			SP.UPROADTIME,
			M.USER_IMAGE
		ORDER BY UPROADTIME DESC
	</entry>
	
	<entry key="selectUserPost">
		SELECT 
			SP.CONTENT,
			PI.IMG_PATH,
			PI.IMG_NAME,
			PI.IMG_LEVEL,
			SP.POST_NO,
			PI.IMG_PATH || PI.IMG_NAME AS TITLEIMG,
			SP.USER_ID,
			SP.UPROADTIME,
			M.USER_IMAGE
		FROM SNS_POST SP, POST_IMG PI, MEMBER M
		WHERE SP.POST_NO = PI.POST_NO
		  AND SP.USER_ID = M.USER_ID
		  AND SP.POST_STATUS = 'Y'
		  AND PI.IMG_LEVEL = 1
		ORDER BY UPROADTIME DESC
	</entry>
	
	<entry key="selectPost">
		SELECT 
			POST_NO,
			CONTENT,
			USER_ID,
			UPROADTIME
		FROM SNS_POST SP
		JOIN MEMBER USING (USER_ID)
		WHERE SP.POST_STATUS = 'Y'
			AND POST_NO = ?
	</entry>
	
	<entry key="selectPostImgList">
		SELECT
			SP.CONTENT,
			PI.IMG_PATH,
			PI.IMG_NAME,
			PI.IMG_LEVEL,
			SP.POST_NO,
			PI.IMG_PATH || PI.IMG_NAME AS TITLEIMG,
			SP.USER_ID,
			SP.UPROADTIME,
			M.USER_IMAGE,
            COUNT(SPL.POST_NO) AS PLIKE
		FROM SNS_POST SP, POST_IMG PI, MEMBER M, SNS_POST_LIKE SPL
		WHERE SP.POST_NO = PI.POST_NO
		  AND SP.USER_ID = M.USER_ID
		  AND SP.POST_STATUS = 'Y'
		  AND PI.IMG_LEVEL = 1
          AND SPL.POST_NO(+) = SP.POST_NO
          AND SP.POST_NO = ?
        GROUP BY 			
            SP.CONTENT,
			PI.IMG_PATH,
			PI.IMG_NAME,
			PI.IMG_LEVEL,
			SP.POST_NO,
			PI.IMG_PATH || PI.IMG_NAME,
			SP.USER_ID,
			SP.UPROADTIME,
			M.USER_IMAGE
		ORDER BY UPROADTIME DESC
	</entry>
	<entry key="selectPostImgList2">
		SELECT 
			SP.CONTENT,
			PI.IMG_PATH,
			PI.IMG_NAME,
			PI.IMG_LEVEL,
			SP.POST_NO,
			PI.IMG_PATH || PI.IMG_NAME AS TITLEIMG,
			SP.USER_ID,
			SP.UPROADTIME,
			M.USER_IMAGE
		FROM SNS_POST SP, POST_IMG PI, MEMBER M
		WHERE SP.POST_NO = PI.POST_NO
		  AND SP.USER_ID = M.USER_ID
		  AND SP.POST_STATUS = 'Y'
          AND SP.POST_NO = ?
		ORDER BY UPROADTIME DESC
		
		
	</entry>
	
	<entry key="selectHtList">
		SELECT 
			SP.CONTENT,
			PI.IMG_PATH,
			PI.IMG_NAME,
			PI.IMG_LEVEL,
			SP.POST_NO,
			PI.IMG_PATH || PI.IMG_NAME AS TITLEIMG,
			SP.USER_ID,
			SP.UPROADTIME,
			M.USER_IMAGE
		FROM SNS_POST SP, POST_IMG PI, MEMBER M
		WHERE SP.POST_NO = PI.POST_NO
		  AND SP.USER_ID = M.USER_ID
		  AND SP.POST_STATUS = 'Y'
		  AND PI.IMG_LEVEL = 1
		ORDER BY UPROADTIME DESC
	</entry>
	
	<entry key="insertFollow">
		INSERT INTO FOLLOW (FOLLOWER, USER_ID) 
		VALUES (?, ?)
	</entry>
	
	<entry key="insertPostLike">
		INSERT INTO SNS_POST_LIKE (POST_NO, USER_ID) 
		VALUES (?, ?)
	</entry>
	
	<entry key="selectPostLike">
		SELECT COUNT(*) POST_NO
		FROM SNS_POST_LIKE SPL
		JOIN SNS_POST SP USING(POST_NO)
		WHERE POST_NO = ?
	</entry>
	
	<entry key="insertComment">
		INSERT INTO SNS_COMMENT(C_NO, C_CONTENT, POST_NO, USER_ID)
		VALUES (SEQ_POST_CNO.NEXTVAL, ?, ?, ?)		
	</entry>
	
	<entry key="selectCommentList">
		SELECT 
			C_NO, 
			C_CONTENT, 
			USER_ID,
			C_UPROADTIME
		FROM SNS_COMMENT SC
		JOIN MEMBER USING (USER_ID)
		WHERE SC.C_STATUS = 'Y' AND POST_NO = ?
		ORDER BY C_UPROADTIME DESC, C_NO DESC
	</entry>
	
	<entry key="deleteComment">
		UPDATE SNS_COMMENT
		SET C_STATUS = 'N'
		WHERE C_NO = ?
	</entry>
	
	<entry key="selectPostImg">
		SELECT 
			IMG_NO ,
			ORIGIN_NAME,
			IMG_NAME,
			IMG_PATH,
			NVL(IMG_LEVEL , 0) AS IMG_LEVEL
		FROM POST_IMG
		WHERE POST_NO = ?
		ORDER BY IMG_LEVEL
	</entry>
	
	
	


</properties>