<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectList">
		SELECT 	POST_NO,
				USER_ID,
				CONTENT,
				UPROADTIME
		FROM SNS_POST
			AND SP.POST_STATUS = 'Y'
	</entry>

	<entry key="insertPost">
		INSERT INTO SNS_POST(POST_NO, CONTENT, USER_ID , UPROADTIME)
		VALUES (SEQ_POST_NO.NEXTVAL ,  ? , ? , ?)
	</entry>
	
	<entry key="insertImg">
		INSERT INTO POST_IMG(IMG_NO, POST_NO, IMG_NAME, ORIGIN_NAME , IMG_PATH)
		VALUES (SEQ_POST_INO.NEXTVAL, ? , ?, ?, ?)
	</entry>
	
	<entry key="insertImg2">
		INSERT INTO POST_IMG(IMG_NO, POST_NO, IMG_NAME, ORIGIN_NAME , IMG_PATH)
		VALUES (SEQ_POST_INO.NEXTVAL, ? , ?, ?, ?)
	</entry>
	
	<entry key="insertNewImg">
		INSERT INTO ATTACHMENT(IMG_NO, POST_NO, ORIGIN_NAME, IMG_NAME,IMG_PATH)
		VALUES(SEQ_POST_INO.NEXTVAL , ? , ? , ?, ? )
	</entry>
	
	<entry key="selectPost">
		SELECT	POST_NO,
				USER_ID,
				CONTENT,
				UPROADTIME
		FROM SNS_POST SP
			AND SP.POST_STATUS = 'Y'
		ORDER BY POST_NO DESC	
						
	</entry>
	
	<entry key="selectImg">
		SELECT  IMG_NO ,
				IMG_NAME,
				ORIGIN_NAME,
				FILE_PATH,
				NVL(IMG_LEVEL , 0) AS IMG_LEVEL
		FROM POST_IMG
		WHERE POST_NO = ?
		ORDER BY IMG_LEVEL
	</entry>
	
	<entry key="updatePost">
		UPDATE SNS_POST
		SET 
			CONTENT = ?,
			UPROADTIME = ?,
		WHERE POST_NO = ?
		
	</entry>
	
	<entry key="updateImg">
		UPDATE POST_IMG
		SET ORIGIN_NAME = ? ,
		    IMG_NAME = ? ,
		    IMG_PATH   = ? ,
		WHERE IMG_NO = ?
	
	</entry>
	
	<entry key="deletePost">
		UPDATE SNS_POST
		SET STATUS = 'N'
		WHERE POST_NO = ?
		AND USER_ID = ?
	</entry>
	
	<entry key="deleteImg">
		DELETE FROM POST_IMG
		WHERE POST_NO = ?
	</entry>
	
	<entry key="insertImgPost">
		INSERT INTO SNS_POST(POST_NO , CONTENT, USER_ID)
		VALUES (SEQ_POST_NO.NEXTVAL,  ? , ? )
	</entry>
	
	<entry key="insertImgList">
		INSERT INTO ATTACHMENT(FILE_NO, REF_BNO, ORIGIN_NAME,CHANGE_NAME, FILE_PATH, FILE_LEVEL)
		VALUES SEQ_POST_INO.NEXTVAL, SEQ_BNO.CURRVAL , ?, ? , ?, ?)
	</entry>
	
	<entry key="selectImgList">
		SELECT 
			POST_NO,
			CONTENT,
			USER_ID,
			IMG_PATH,
			IMG_NAME,
			IMG_LEVEL,
			IMG_PATH || CHANGE_NAME AS TITLEIMG
		FROM SNS_POST SP
		JOIN POST_IMG ON POST_NO = POST_NO
		WHERE  SP.STATUS = 'Y'
		  AND FILE_LEVEL = 1
		ORDER BY UPROADTIME DESC
	</entry>
	
	<entry key="insertComment">
		INSERT INTO SNS_COMMENT(C_NO, C_CONTENT, POST_NO, USER_ID, C_UPROADTIME)
		VALUES (SEQ_POST_CNO.NEXTVAL, ?, ?, ?, ?)
		AND C_STATUS = 'Y'			
	</entry>
	
	
	<entry key="selectCommentList">
		SELECT	C_NO, 
				C_CONTENT, 
				USER_ID,
			 	TO_CHAR(C_UPROADTIME, 'YY/MM/DD HH:MI:SS' ) AS C_UPROADTIME
		FROM SNS_COMMENT SC
		JOIN MEMBER USING (USER_ID)
		WHERE SC.STATUS = 'Y' AND POST_NO = ?
		ORDER BY C_UPROADTIME DESC, C_NO DESC
	</entry>
	
	<entry key="followUser">
		SELECT 	USER_ID,
				FOLLOWER
		FROM	FOLLOW
		JOIN MEMBER USING(USER_ID)
	</entry>
	
	<entry key="loadOrderList">
		SELECT
				USER_ID,
				PRODUCT_NAME,
				FROM ORDER
				GROUP BY USER_ID
	</entry>
	


</properties>