#mypage_content{
    margin-top: 25px;
}
#myprofile{
	display: flex;
    justify-content: space-between;
    align-items: center;
	border: 1px solid #ebebeb;
    padding: 23px 0 23px 23px;
	margin: 0 10px 10px 10px;
    border-radius: 15px;
}


/* 내 프로필 왼쪽 */
#myprofile_left{
    display: flex;
	
}

#profile_img>img{
    border-radius: 50%;
    margin-left: 15px; 
    width: 120px;
    height: 120px;
}

#myname{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#my_name{
    font-weight: 600;
    font-size: 18px
}

#my_id{
    font-size: 14px;
    color: rgba(34,34,34,.5);
}

/* 내 프로필 오른쪽 */
#myprofile_right{
    display: flex;
    text-align: center;
    margin-right: 45px;
}
#myprofile_right>div{
    margin-right: 5px;
}

#myprofile_right span:nth-child(1){
    font-weight: 900;
    font-size: 16px;

}
#myprofile_right span:nth-child(2){
    font-size: 12px;
    font-weight: 400;
}
.mypage_box{
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px 10px;
    margin: 10px;
}
#point{
    display: flex;
    flex-direction: column;
}
.more_style{
    display: flex;
    font-size: 13px;
    color: rgba(34,34,34,.5);
    fill: rgba(34,34,34,.5);
    align-items: center;
}
.more_style:hover{
    cursor:pointer;
    fill: black;
}

.arr-right-gray{
    display: inline-block;
}


/* 배송 조회 */
#delivery_title{
    display: flex;
    justify-content: space-between;
}

#shoppingcart{
    display: flex;
}

.delivery_tracking_summary{
    border: 1px solid black;
    padding: 8px;
    border-radius: 15px;
}
.delivery_tracking_summary>p{
    display: inline-block;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}


#delivery_content{
    display: flex;
    justify-content: space-around;
}

.delivery_product>img{
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

.delivery_product{
    display: flex;
}

.delivery_product_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.others{
    align-self: flex-end;
}

/* 관심 목록 */
#interest_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#interest{
    display: flex;
    /* align-items: center; */
}
.mypageInfo_titleText{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.interest_product_wrapper{
    display: flex;
    justify-content: space-evenly;
}
.interest_products{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-top: 10px;
    /* margin-right: 25px; */
    padding: 15px;
    width: 212.859px;
    height: 280px;
}

.interest_products>p:nth-child(3){
    text-overflow: ellipsis;
    
}

.interest_img{
    text-align: center;
    margin-bottom: 5px;
}
.interest_img>img{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
}
.mainBrandName{
    color: #333;
    font-size: 13px;
    font-weight: 700;
}
.mainProudctName{
    font-size: 13px;
    color: #333;
}