button{
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
.buyButton{
    width: 100%;
    height: 60px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 12px;
}
.content{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    overflow: hidden;
    padding: 30px 40px 120px;
}
.contentHead{
    max-width: 1280px;
    overflow: hidden;
    margin-bottom: 20px;
}
#contentHeaderLeft{
    float: left;
    padding-right: 40px;
    border-right: 1px solid #ebebeb;
}
#contentHeaderRight{
    float: right;
    padding-left: 40px;
}
.column{
    width: 50%;
}

.detailBrand{
    display: inline-block;
    vertical-align: top;
    line-height: 19px;
    padding-top: 1px;
    margin-bottom: 9px;
    font-size: 18px;
    letter-spacing: -.27px;
    font-weight: 800;
    border-bottom: 2px solid #222;
}

.detailName{
    margin-bottom: 4px;
    font-size: 18px;
    letter-spacing: -.09px;
    font-weight: 400;
}

.detailPrice{
    padding-top: 4px;
    display: inline-block;
    font-size: 13px;
    letter-spacing: -.07px;
    color: rgba(34,34,34,.8);
}

.titleProduct{
    font-size: 15px;
    letter-spacing: -.27px;
}
.categoryTitle{
    display: flex;
    align-items: center;
}
.productUnderline{
    padding-top: 19px;
    padding-bottom: 19px;
    border-bottom: 1px solid #ebebeb;
}
#productInfoPrice{
    display: flex;
    align-items: center;
    width: 65%;
}
.productInfoHalf{
    width: 65%;
}
.productInfoHalfR{
    width: 35%;
}
.productInfoRight{
    display: flex;
    justify-content: end;
    margin-right: 45px;
}
.detailFullPrice, .sizeOption{
    vertical-align: top;
    font-size: 20px;
    letter-spacing: -.1px;
}
.detailPriceInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.interestProduct{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    color: #333;
    width: 100%;
    height: 60px;
}
.btnText{
    margin-left: 4px;
    font-size: 15px;
    letter-spacing: -.15px;
    font-weight: 400;
    letter-spacing: normal;
}
.wishCount{
    margin-left: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
}
.deliveryTitle1{
    margin-top: 20px;
}
.deliveryTitle1_1{
    font-size: 14px;
    letter-spacing: -.21px;
    margin-bottom: 12px;
}
.deliveryFlex{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}
.deliveryText1_1{
    font-size: 14px;
    letter-spacing: -.21px;
    font-weight: 600;
}
.deliveryText1_2{
    font-size: 14px;
    letter-spacing: -.21px;
}
.subText{
    line-height: 16px;
    margin-top: 3px;
    font-size: 14px;
    color: rgba(34,34,34,.5);
}
.productDetailItemContent{
    padding-top: 60px;
    border-top: 1px solid #ebebeb;
}

.innerProductArea{
    padding: 0 100px;
}

.innerProductArea1{
    text-align: center;
}

.innerProduct{
    font-size: 15px;
    max-width: 600px;
    letter-spacing: -.01em;
    padding: 0;
    margin: 0 auto;
}

.innerProductArea2{
    margin-top: 40px;
}

.innerProductArea3{
    text-align: left;
    border-top: 1px solid #ebebeb;
    padding: 57px 0 0;
    margin-top: 40px;
}

.innerProductArea3_1{
    font-size: 32px;
    letter-spacing: -.48px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0;
}

.innerProductArea3_2{
    font-size: 28px;
    margin-top: 4px;
    letter-spacing: -.015em;
    text-transform: capitalize;
}

.innerProductArea3_3{
    font-size: 17px;
    margin: 24px 0 0;
    padding: 0;
    border: 0;
    line-height: 24px;
    color: rgba(34,34,34,.5);
    text-align: justify;
}

.innerProductArea4{
    margin-top: 27px;
}

.mainImgList{
	background: rgb(246, 238, 237);
	border-radius: 5px;
}

.PDIC2_0{
    padding: 42px 100px 0;
}
.PDIC2_1{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 17px;
}
.PDIC2_2{
    margin: 17px 0 40px;
    width: 100%;
    font-size: 13px;
}
.PDICDetails{
    border-top: 1px solid #ebebeb;
}
.PDICDetail{
    display: flex;
    border-bottom: 1px solid #ebebeb;
}
.PDICDetailContent1{
    display: table;
}
.PDICDetailContent1_1{
    width: 240px;
    display: inline-block;
    background: #fafafa;
    padding: 16px 20px;
    display: table-cell;
    vertical-align: middle; 
}
.PDICDetailContent2{
    padding: 16px 20px;
    width: 100%;
}
.feedTitle{
    display: flex;
    padding-top: 40px;
    margin: 0 40px;
    align-items: center;
    border-top: 1px solid #ebebeb;
}
.feedTitle1{
    font-size: 20px;
    letter-spacing: -.3px;
    font-weight: 700;
}
.feedTitle2{
    font-size: 20px;
    letter-spacing: -.3px;
    font-weight: 700;
    padding-left: 4px;
}
.feedContent{
    display: grid;
    grid-template-columns: repeat(4,minmax(0px, 279px));
    grid-template-rows: repeat(3, minmax(0px, auto));
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    padding: 24px 0 0;
    margin: 0 40px;
    position: relative;
    height: 766px;
}
.feedContent1{
    /* position: absolute; */
    left: 0px;
    top: 0px;
    /* width: calc(25% - 21px); */
}
.feedContent1>a{
    position: relative;
    display: block;
}
.feedContent2{
    padding-top: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.feedContent3{
    padding: 8px 4px 0;
}
.productSocialImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textBox{
    margin-top: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: -.21px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}
.feedContent3_1{
    display: flex;
    align-items: center;
}
.feedContent3_1_1{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(34,34,34,.1);
    object-fit: cover;
}
.feedContent3_1_2{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-flex: 1;
    flex: 1;
    padding-left: 4px;
    padding-right: 6px;
    white-space: nowrap;
    font-size: 15px;
    letter-spacing: -.15px;
    color: rgba(34,34,34,.8);
}
.feedContent3_1_3{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    color: rgba(34,34,34,.5);
}
.feedContent3_1_3>svg{
    width: 20px;
    height: 20px;
}
.feedContent3_1_3>span{
    padding-left: 3px;
}
.otherProductArea{
    padding-bottom: 40px;
}
.moreTitle{
    margin: 0 40px;
    padding-top: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: -.15px;
    border-top: 1px solid #ebebeb;
}
.moreTitle1{
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
}
.moreTitle2{
    margin-right: 50px;
    flex-shrink: 0;
    font-weight: 400;
}
.moreContent1{
    display: grid;
    grid-template-columns: repeat(5,minmax(0px, 279px));
    grid-template-rows: repeat(3, minmax(0px, auto));
    grid-column-gap: 20px;
    padding: 0 30px;
}
.moreContentImg{
    padding-top: 20px;
}
.moreContentImg1{
    width: 224px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    background-color: rgb(246, 238, 237);
}
.moreContentInfo{
    padding-top: 9px;
}
.moreContentInfo1{
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    height: 17px;
    line-height: 17px;
    padding-bottom: 2px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: fit-content;
    max-width: 100%;
}
.moreContentInfo2{
    max-height: 44px;
    margin-bottom: 2px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-size: 13px;
    color: #222;
}
.moreContentInfo3{
    padding-top: 12px;
    display: inline-block;
    vertical-align: top;
    line-height: 17px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -.04px;
    color: #222;
}
.slick-arrow{
    position: absolute;
    top: 310px;
    width: 44px;
    height: 44px;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}
.prevArrow{
    left: 350px;
    background: url(../symbols/prev.svg);
    z-index: 1;
}
.nextArrow{
    right: 990px;
    background: url(../symbols/next.svg);
    z-index: 1;
}
.slick-dots{
    bottom: 15px;
}
.slick-list{
    height: 559px;
}

.modalSize{
    margin-right: 5px;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#pCountDiv{
	display: flex;
}