body {
  width: 100%;
  font-familly: -apple-system,BlinkMacSystemFont,Roboto,AppleSDGothicNeo-Regular,
  				NanumBarunGothic,NanumGothic,나눔고딕,Segoe UI,Helveica,Arial,Malgun Gothic,Dotum,sans-serif;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: black;
}

header {
  heigth: 10%;	
}


content {
  height: 80%;
}

.contentwrap {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  height: 10%;
  width: 100%;
}

/* 날짜별,인기순,최신순 필터 */
.ct-sort ul {
  display: flex;
  float: right;
  list-style: none;
  margin-top: 30px;
  margin-right: 12px;
}

.ct-sort ul a {
  text-decoration: none;
  margin-right: 5px;
  color: rgba(34, 34, 34, 0.8);
  font-size: 14px;
  letter-spacing: -0.21px;
  line-height: 17px;
}

.ct-sort .style-insert{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  font-weight: bold;
}

/*숏 해쉬태그 영역  */
.ct-tagcontainer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  margin-left: 50px;
  border-bottom: 1px solid #f0f0f0;
}

.tagshort {
  width: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 100px;
}

.round p {
  font-size: 12px;
  margin-top: 4px;
  width: 100px;
}

.round img {
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  height: 70px;
}

.ct-feedcontainer {
  justify-content: center;
  margin-top: 30px;
  margin-bottom:30px;
  padding-bottom: 50px;
  width: 100%;
  color: rgba(34,34,34,.8);
}

.userImg {
	margin-bottom: 10px;
}

.moveTopBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  color: #fff;
}

.moveTopBtn svg{
  width: 80%;
  height: 80%;
  color: gray;
}

@media(min-width: 640px){
  .ct-feedcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-auto-flow: row dense;
  }

  .feedimg1 {
    display: grid;
    row-gap: 10px;
  }
  .feedimg2 {
    display: grid;
    row-gap: 20px;
  }
  .feedimg3 {
    display: grid;
    row-gap: 30px;
  }

  .feedimg4 {
    display: grid;
    row-gap: 5px;
  }

  
}

.ct-feedcontainer img{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


footer {
  height: 10%;
}


