<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="getNotice">
		SELECT
		N.ALERT_TITLE
		, N.ALERT_NO
		, NA.NOTICE_ALERM_NO
		, NA.VIEW_COUNT
		FROM NOTICE N, NOTICE_ALERM NA
		WHERE N.ALERT_NO = NA.ALERT_NO
		AND NA.VIEW_COUNT != 1
		ORDER BY NOTICE_ALERM_NO
	</entry>

</properties>